  <tr class="hover:bg-[#243447] transition">
    <td class="py-3 px-4">{{ sale.id }}</td>
    <td class="py-3 px-4">{{ sale.clientName }}</td>
    <td class="py-3 px-4">{{ sale.date }}</td>
    <td class="py-3 px-4">{{ sale.total }}</td>
    <td class="py-3 px-4 space-x-2">
      <!-- <button
        (click)="openModalEdit(client)"
        class="bg-yellow-500 hover:bg-yellow-600 text-white px-3 py-1 rounded text-sm"
      >
        Editar
      </button>
      @if (showModalEdit) {
      <app-modal-edit-client
        (closeModal)="closeModalEdit()"
        [client]="editClient"
      />
      }
      <button
        (click)="deleteClient(client)"
        class="bg-red-600 hover:bg-red-700 text-white px-3 py-1 rounded text-sm"
      >
        Excluir
      </button> -->
    </td>
  </tr>
