<!-- Tabela de Usuários -->
<div class="overflow-x-auto overflow-y-auto">
  <div class="flex justify-end mb-4">
    <app-paginator
      [totalItems]="totalItems"
      [itemsPerPage]="limit"
      [totalPages]="totalPages"
      [page]="page"
      (pageChanged)="getClients($event, limit)"
    ></app-paginator>
  </div>
  <table class="min-w-full text-white text-left">
    <thead class="bg-[#1d2a3c] text-sky-400 uppercase text-sm">
      <tr>
        <th class="py-3 px-4">ID</th>
        <th class="py-3 px-4">Nome</th>
        <th class="py-3 px-4">Telefone</th>
        <th class="py-3 px-4">Endereço</th>
        <th class="py-3 px-4">Ações</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-700">
      @for (client of listClients; track client.id) {
      <tr class="hover:bg-[#243447] transition">
        <td class="py-3 px-4">{{ client.id }}</td>
        <td class="py-3 px-4">{{ client.name }}</td>
        <td class="py-3 px-4">{{ client.phone }}</td>
        <td class="py-3 px-4">{{ client.address }}</td>
        <td class="py-3 px-4 space-x-2">
          @if (client.id !== 1) {
          <button
            (click)="openModalEdit(client)"
            class="bg-yellow-500 hover:bg-yellow-600 text-white px-3 py-1 rounded text-sm"
          >
            Editar
          </button>
          @if (showModalEdit) {
          <app-modal-edit-client
            (closeModal)="closeModalEdit()"
            [client]="editClient"
          />
          }
          <button
            (click)="deleteClient(client)"
            class="bg-red-600 hover:bg-red-700 text-white px-3 py-1 rounded text-sm"
          >
            Excluir
          </button>
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
