<div
  class="min-h-screen bg-gradient-to-b from-purple-900 to-purple-950 p-6 flex flex-col items-center gap-6"
>
  <div class="flex flex-col md:flex-row gap-4 items-center">
    <button
      (click)="goToMenu()"
      class="bg-indigo-600 text-white px-6 py-2 rounded mr-10 shadow-md hover:bg-indigo-700 transition"
    >
      Voltar para menu
    </button>

    <div class="flex items-center gap-2">
      <input
        type="number"
        #inputClienteId
        placeholder="ID do cliente"
        value="{{ client.id }}"
        class="w-24 p-2 rounded bg-gray-200 text-black focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <button
        (click)="findClientById(inputClienteId.value)"
        class="bg-blue-600 hover:bg-blue-700 text-white px-3 py-2 rounded text-sm flex items-center justify-center"
      >
        Buscar
      </button>
    </div>

    <div class="flex items-center gap-2">
      <input
        type="text"
        #inputClientName
        placeholder="Nome do cliente"
        class="w-34 p-2 rounded bg-gray-200 text-black focus:outline-none focus:ring-2 focus:ring-green-500"
      />
      <button
        (click)="findClientByName(inputClientName.value)"
        class="bg-green-600 hover:bg-green-700 text-white px-3 py-2 rounded text-sm flex items-center justify-center"
      >
        Buscar
      </button>

      <select
        [(ngModel)]="client.name"
        class="w-44 p-2 rounded bg-gray-200 text-black"
      >
        <option disabled>Resultado da busca</option>
        @for (item of searchClients; track item.id) {
        <option value="{{ item.name }}">{{ item.name }}</option>
        }
      </select>
    </div>

    <div
      class="flex items-center bg-gray-200 text-black px-3 py-2 rounded text-sm"
    >
      <span class="font-medium mr-1">Cliente:</span>
      <span>{{ client.name }}</span>
    </div>
  </div>

  <div class="w-full max-w-6xl bg-slate-800 rounded-xl p-6 flex gap-6">
    <div class="flex flex-col gap-4 basis-1/4">
      <div class="w-full">
        <label class="block text-white text-sm mb-1">
          Leitor de Código de Barras
        </label>
        <input
          type="text"
          placeholder="Escaneie o produto"
          [(ngModel)]="product.code"
          (keydown.enter)="searchProductByCode()"
          autofocus
          class="w-full p-2 rounded bg-gray-200 text-black font-semibold text-lg text-center focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      <div>
        <label class="block text-sm text-white mb-1">Quantidade</label>
        <input
          type="number"
          [(ngModel)]="product.quantity"
          class="w-full p-2 rounded bg-gray-200 text-center font-bold"
        />
      </div>

      <div class="flex items-center gap-2 mb-2">
        <div class="flex-1">
          <label class="block text-sm text-white mb-1">Valor Unitário</label>
          <input
            type="text"
            [(value)]="product.price"
            class="w-full p-2 rounded bg-gray-200 text-center font-bold"
          />
        </div>

        <div class="flex-1">
          <label class="block text-sm text-white mb-1">Valor Total</label>
          <div class="w-full p-2 rounded bg-gray-200 text-center font-bold">
            {{ formatNumber(product.price * product.quantity) }}
          </div>
        </div>
      </div>

      <div>
        <div class="flex items-center gap-2 mb-2">
          <input
            type="text"
            #inputProductName
            placeholder="Buscar Produto"
            [(ngModel)]="product.name"
            class="w-34 p-2 rounded bg-gray-200 text-black focus:outline-none focus:ring-2 focus:ring-green-500"
          />
          <button
            (click)="findProductByName(inputProductName.value)"
            class="bg-green-600 hover:bg-green-700 text-white px-3 py-2 rounded text-sm flex items-center justify-center"
          >
            Buscar
          </button>
        </div>

        <label class="block text-sm text-white mb-1">Resultado da Busca</label>
        <select
          [(ngModel)]="product.code"
          class="w-44 p-2 rounded bg-gray-200 text-black"
        >
          @for (item of searchProducts; track item.id) {
          <option value="{{ item.code }}">{{ item.name }}</option>
          }
        </select>
      </div>
    </div>

    <div class="flex flex-row justify-between h-full basis-2/4">
      <div class="bg-white rounded-lg shadow overflow-y-auto max-h-64">
        <table class="w-full text-sm text-left">
          <thead class="bg-gray-100">
            <tr>
              <th class="px-4 py-2">CÓDIGO</th>
              <th class="px-4 py-2">PRODUTO</th>
              <th class="px-4 py-2">VLR. UN.</th>
              <th class="px-4 py-2">QTD</th>
              <th class="px-4 py-2">VLR. TOTAL</th>
              <th class="px-4 py-2 text-center">Excluir</th>
              <th class="px-4 py-2 text-center">Editar</th>
            </tr>
          </thead>
          <tbody>
            @for (item of products; track item.id) {
            <tr class="border-t">
              <td class="px-4 py-2">{{ item.code }}</td>
              <td class="px-4 py-2">{{ item.name }}</td>
              <td class="px-4 py-2">R$ {{ item.price }}</td>
              <td class="px-4 py-2">{{ item.quantity }}</td>
              <td class="px-4 py-2">
                R$ {{ formatNumber(item.price * (item.quantity ?? 0)) }}
              </td>
              <td class="px-4 py-2 text-center">
                <button (click)="removeItem(item)">🗑️</button>
              </td>
              <td class="px-4 py-2 text-center">
                <button (click)="editItem(item)">📝</button>
              </td>
            </tr>
            }
          </tbody>
        </table>
        @if (showEditModal) {
        <app-modal-edit-product
          (cancel)="onCancelEdit()"
          [item]="selectedItem"
          (save)="onSaveItem($event)"
        />
        }
      </div>
    </div>

    <div class="basis-1/4">
      <app-finish-sale
        [totalValue]="formatNumber(totalValueDiscount)"
        (calculateDiscount)="calculateDiscount($event)"
        [paymentMethod]="paymentMethod"
        (paymentMethodChange)="onPaymentMethodChange($event)"
        [(valuePaid)]="valuePaid"
      />
    </div>
  </div>

  <div class="flex justify-between items-center w-full max-w-6xl">
    <div class="bg-white text-black px-4 py-2 rounded font-semibold shadow">
      Vendedor: <span class="text-lg">{{ vendedorLogado }}</span>
    </div>

    <div class="flex gap-4">
      <button
        (click)="finishSale()"
        class="bg-blue-600 text-white px-6 py-2 rounded hover:bg-blue-700 transition font-bold"
      >
        Finalizar Venda
      </button>
      <button
        (click)="cancelSale()"
        class="bg-red-600 text-white px-6 py-2 rounded hover:bg-red-700 transition font-bold"
      >
        Cancelar Venda
      </button>
    </div>
    @if (showSaleModal) {
    <app-modal-sales-note
      [saleData]="saleData"
      (closeModal)="closeSaleModal()"
    />
    }
  </div>
</div>
