<div
  class="min-h-screen flex flex-col items-center justify-start bg-gradient-to-b from-[#1a103d] to-[#2a204d] px-4 py-6"
>
  <!-- Botão fixo -->
  <button
    (click)="goToMenu()"
    class="self-center mb-6 bg-indigo-600 text-white px-6 py-2 rounded shadow-md hover:bg-indigo-700 transition cursor-pointer"
  >
    Voltar para menu
  </button>

  <!-- Container de conteúdo -->
  <div class="w-full max-w-4xl bg-[#182233] rounded-2xl shadow-lg p-6">
    <div
      class="flex items-center justify-between mb-6 border-b border-gray-500 pb-4"
    >
      <div class="flex flex-wrap gap-4">
        <button
          (click)="changeMenuContext('listExpenses')"
          [attr.class]="
            menuContext === 'listExpenses'
              ? classBtnSelected
              : classBtnUnselected
          "
          class="text-white flex items-center gap-2 hover:underline"
        >
          <i class="fas fa-users"></i> Contas a Pagar
        </button>
        <button
          (click)="changeMenuContext('createExpenses')"
          [attr.class]="
            menuContext === 'createExpenses'
              ? classBtnSelected
              : classBtnUnselected
          "
          class="bg-sky-500 hover:bg-sky-600 text-white px-4 py-2 rounded-lg flex items-center gap-2 font-semibold"
        >
          <i class="fas fa-user-plus"></i> Nova Despesa
        </button>
        <button
          (click)="changeMenuContext('reportsExpenses')"
          [attr.class]="
            menuContext === 'reportsExpenses'
              ? classBtnSelected
              : classBtnUnselected
          "
          class="bg-sky-500 hover:bg-sky-600 text-white px-4 py-2 rounded-lg flex items-center gap-2 font-semibold"
        >
          <i class="fas fa-user-plus"></i> Relatório de Despesas
        </button>
      </div>
    </div>

    <!-- Conteúdo condicional -->
    @if (menuContext === 'createExpenses') {
    <app-create-expenses />
    } @else if (menuContext === 'listExpenses') {
    <app-list-expenses />
    } @else if (menuContext === 'reportsExpenses') {
    <app-reports-expenses />
    }
  </div>
</div>
